.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-color: #212A37;
  height: 70vh;
  width: 100vw;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  height: 80px;
  width: 100%;
  padding: 0 10%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
.menu_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FFFFFF;
}
.menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  color: #FFFFFF;
  font-size: larger;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  font-size: x-large;
}.title h1 {
  font-weight: 450;
  letter-spacing: 10px;
} .title h2 {
  font-weight: 450;
  letter-spacing: 5px;
}
.spacer_header {
  height: 80px;
}